body {
    background-color: white;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    max-width: 650px;
}

a {
    text-decoration: solid;
}

td {
    text-align: left;
    padding-right: 2rem;
    padding-bottom: 0.3rem;
}

td img {
    align-items: center;
    text-align: center;
    padding-left: 1rem;
}

hr {
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}

h1 {
    margin-bottom: 0.5rem;
    background-color: lightgrey;
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid lightslategray;
    font-weight: 500;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-bottom: 0;
}

.main-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.first-section {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.info-table {
    display: block;
    position: static;
    margin-top: 4rem;
    margin-left: 2rem;
    text-align: left;
    width: 50%;
    padding-left: 1.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border: 1px solid lightslategray;
    background-color: rgb(242, 242, 242);
    color: black;
    align-items: start;
    min-width: 280px;
    font-size: small;
    text-indent: -1rem;
}

.info-pic-text {
    text-align: center;
    font-size: medium;
    padding-left: 1rem;
}

.paragraphs-section-1 {
    display: flex;
    flex-direction: column;
}

.gameplay-section .gameplay-img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid lightslategray;
    padding: 0.3rem;
    margin-left: 0;
    max-width: 250px;
    font-size: small;
}

.gameplay-section img {
    max-width: 250px;
}

.review-section {
    display: flex;
    flex-direction: row;
}

.review-table {
    border: 1px solid black;
    margin-right: 1rem;
}

.info-table-text td {
    text-indent: -1rem;
}

.gameplay-top-spacing{
    margin-top: 0;
    margin-bottom: 0;
}

.italic-paragraph {
    font-style: italic;
}
  
.song-list {
    display: flex;
    justify-content: center;
}

@counter-style thumbs {
    system: cyclic;
    symbols: "♪" "♫" "♩" "♬";
    suffix: " ";
}

ul {
    list-style: thumbs;
}
